﻿@model IEnumerable<RestaurantDelivery.Model.Restaurant>
<div class="row">
    <br /><br />
    <form action="">Postcode: <input type="text" name="postcode" /><input type="submit" /></form>
    @if (Model != null)
    {
        <h3>Total Count: @ViewBag.TotalCount</h3>
        <h3>Area: @ViewBag.Area</h3>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Average Rating</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var r in Model)
                    {
                        <tr>
                            <td><img width="50" src="@r.Logo.FirstOrDefault().StandardResolutionURL" /></td>
                            <td>@r.Name</td>
                            <td>@r.RatingAverage</td>
                            <td>@r.Url</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
                    }
                    else
                    {
                        <h3>Error: @ViewBag.Error</h3>
                    }
</div>
